@color: #f1e1f7;
@bg-color: #1f0529;
@theme: #e0c0ed;
@dark-theme: darken(@theme, 40%);
@btn-color: fade(@theme, 10%);
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: @color;
}
html, body {
    margin: 0;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
html {
    height: 100%;
    display: flex;
    justify-content: center;
}
body {
    max-width: 1000px;
    min-height: 100%;
    color: @color;
    background-color: @bg-color;
}
header {
    width: 100%;
    padding: 60px 30px 10px;
    box-sizing: border-box;
}
hgroup {
    user-select: none;
    
    img {
        width: auto;
        height: 60px;
        margin-bottom: 10px;
        border-radius: 6px;
        box-shadow: 0 0 10px fade(@color, 30%);
    }
    h1 {
        margin: 0;
        font-size: 2.5em;
        display: flex;
        gap: .4em;
        span {
            margin: 0;
            color: transparent;
            background: linear-gradient(to right, darken(@theme, 40%), @theme);
            -webkit-background-clip: text;
            background-clip: text;
            text-shadow: 0 0 20px fade(@color, 50%);
            font-weight: 900;
        }
    }
    p {
        margin: 10px 0 0;
        line-height: 1.5em;
        word-break: break-all;
        filter: brightness(.8);
    }
}
#links {
    margin-top: 25px;
}
.group {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.button {
    position: relative;
    width: auto;
    height: 45px;
    padding: 0 20px;
    min-width: 60px;
    border-radius: 45px;
    font-size: 14px;
    background: @btn-color;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    &.icon {
        min-width: auto;
    }
    &::after {
        content: '';
        position: absolute;
        width: calc(100% - 10px);
        height: 35px;
        border-radius: 35px;
        background: @dark-theme;
        transition: background .1s ease;
        z-index: -1;
    }
    &:hover::after {
        background: darken(@dark-theme, 5%);
    }
}
main {
    width: 100%;
    padding: 10px 30px;
    box-sizing: border-box;
}
section {
    user-select: none;

    h2::before {
        content: "# ";
    }
    p {
        margin: 5px;
    }
}
a:link {
    color: @theme;
}
a {
    color: darken(@theme, 20%);
}
.post {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.load {
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        > div {
            position: relative;
            width: 100%;
            height: 190px;
            padding: 25px;
            border-radius: 8px;
            box-sizing: border-box;
            user-select: none;
            background: darken(@theme, 80%);
            word-break: break-all;
            transition: all .2s ease;
            overflow: hidden;
            cursor: pointer;
            h3{
                margin: 0 0 10px;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .description {
                position:relative;
                margin: 0;
                font-size:16px;
                line-height:18px;
                height:72px;
                overflow:hidden;
                &::after {
                    width: 20px;
                    padding-left: 5ch;
                    content:"...";
                    font-weight:bold;
                    position:absolute;
                    bottom:0;
                    right:-4px;
                    background: linear-gradient(to right, fade(@theme, 0%) 3px, darken(@theme, 80%) 80% 4px);
                }
            }
            .info {
                position: absolute;
                left: 25px;
                bottom: 25px;
                margin: 0;
                font-size: 14px;
                color: darken(@color, 5%);
                transition: all .2s ease;
            }
            
            &:hover {
                box-shadow: 0 0 20px fade(@color, 10%);
                transform: scale(1.02);
            }
        }
    }
}
.donate-group {
    width: 100%;
    max-width: 300px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    div {
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    img {
        width: 100%;
    }
}
footer {
    width: 100%;
    padding: 10px 30px 30px;
    box-sizing: border-box;
    font-size: 12px;
    color: darken(@color, 5%);
    user-select: none;
    p {
        margin: 2px 0;
    }
}
.project-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    > div {
        position: relative;
        width: 100%;
        height: 130px;
        padding: 25px;
        border-radius: 8px;
        box-sizing: border-box;
        user-select: none;
        background: darken(@theme, 80%);
        word-break: break-all;
        transition: all .2s ease;
        overflow: hidden;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        > img {
            flex-grow: 0;
            margin: 0;
            width: 40px;
            height: 40px;
        }
        > .info {
            position: relative;
            width: calc(100% - 50px);
            flex-grow: 1;
            h3, p {
                width: 100%;
                margin: 5px 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &:hover {
            box-shadow: 0 0 20px fade(@color, 10%);
            transform: scale(1.02);
        }
    }
}
.dividing {
    margin: 0;
    height: 10px;
}
@media screen and (max-width: 600px) {
    hgroup h1 {
        flex-direction: column;
        gap: 0;
    }
    .button {
        &:hover::after {
            background: @dark-theme;
        }
        &:active::after {
            background: darken(@dark-theme, 5%);
        }
    }
    .post.load, .project-group {
        grid-template-columns: 1fr;
    }
}
