<body>
    <div id="app">
        <slot />
    </div>
</body>

<style lang="less" is:global>
    body::selection {
        background-color: var(--theme-primary);
        color: var(--theme-on-primary);
    }

    body {
        --theme-background: var(--system-color-000);
        --theme-color: var(--system-color-1000);
        --theme-primary: var(--system-color-700);
        --theme-on-primary: var(--system-color-100);
        --theme-secondary: var(--system-color-600);
        --theme-on-secondary: var(--system-color-100);
        --theme-outline: var(--system-color-800);
        --theme-outline-variant: var(--system-color-200);
        --theme-surface: var(--system-color-100);
        --theme-on-surface: var(--system-color-900);
    }

    body[dark] {
        --theme-background: var(--system-color-1000);
        --theme-color: var(--system-color-000);
        --theme-primary: var(--system-color-300);
        --theme-on-primary: var(--system-color-900);
        --theme-secondary: var(--system-color-400);
        --theme-on-secondary: var(--system-color-100);
        --theme-outline: var(--system-color-200);
        --theme-outline-variant: var(--system-color-800);
        --theme-surface: var(--system-color-900);
        --theme-on-surface: var(--system-color-100);
    }
</style>
