---
import Avatar from "../components/Avatar.astro";
---

<header>
    <div>
        <div class="icon"></div>
        <div class="menu"></div>
    </div>
</header>

<!-- <Avatar /> -->

<style lang="less">
    header {
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        width: 100%;
        height: 60px;
        justify-content: center;
    }

    header > div {
        display: flex;
        box-sizing: border-box;
        width: 1200px;
        margin: 0 30px;
        padding: 10px 0;
    }

    header div.icon {
        width: 40px;
        height: 40px;
    }
</style>
